.a1 { background-color:rgba(231,232,230,255); color:rgba(0,0,0,255); }
.a2 { position:absolute; margin: 0; padding: 0;top:49.0px; left:35.0px; height:49.0px; width:118.0px; color:rgba(0,0,0,255);  font-family: Arial; font-size:12px;}
.a3 { position:absolute; margin: 0; padding: 0;top:105.0px; left:35.0px; height:42.0px; width:118.0px; color:rgba(0,0,0,255);  font-family: Arial; font-size:12px;}
.a4 { position:absolute; margin: 0; padding: 0;top:154.0px; left:35.0px; height:49.0px; width:118.0px; color:rgba(0,0,0,255);  font-family: Arial; font-size:12px;}
